@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

pre > pre {
  background: none !important;
}

pre {
  @apply w-full;
}
